[
  {
    "files": ["main.c"],
     "filesystem": {
        "system_errors": false,
        "files": [
          {
            "name": "input.txt",
            "from": "input_1.txt"
          }
        ]
     }
  },   
  
  {
    "files": [main.c],
     "filesystem": {
        "system_errors": false,
        "files": [
          {
            "name": "input.txt",
            "from": "input_2.txt"
          }
        ]
     }
  }   
]
